<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS & JS-->
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous">
		<script href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript">
		function rowClicked(value) {
	        //location.href = "/myurl?param=" + value;
	        location.href = `http://127.0.0.1:8080/movie-details?id=${value}`;
	    }
		</script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/style.css">

		<title>OMAP - Movie List</title>
	</head>
	<body>
		<div class="container">
			<h4>Movie Archive</h4>
			<hr class="break">
			<table class="table table-bordered" id="movieList">
				<thead class="tableHead">
					<tr class="bg-danger">
						<th>Movie Poster</th>
						<th>Movie Name</th>
						<th>Release Year</th>
						<th>Runtime</th>
						<th>Director</th>
						<th>Lead Actor</th>
					</tr>
				</thead>

				<tbody class="tableBody">
					<tr th:each="movies : ${testListMovies}"
						th:some-field="${movies.movieId}" 
						th:onclick="rowClicked(this.getAttribute('some-field'))">
						<td><img th:src="${movies.posterLink}" class="rounded" id="moviePoster" alt="Movie Poster"></td>
						<td th:text="${movies.movieName}" />
						<td th:text="${movies.year}" />
						<td th:text="${movies.runtime}" />
						<td th:text="${movies.director}" />
						<td th:text="${movies.starOne}" />
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>