body { 
    padding: 5% 5% 0 5%;
    height: 100%;
    background-color: #292a2d;
    font-family: Verdana;
    color: white;
}

.break {
    border-color: white;
}

.tableHead {
    color: black;
}

.tableBody {
    background-color: #222222;
}

.buttonLink {
    text-decoration: none;
}