body { 
    padding: 5% 5% 0 5%;
    height: 100%;
    background-color: #292a2d;
    font-family: Verdana;
    color: white;
}

.break {
    border-color: white;
}

#movieList {
    border-color: black;
    box-shadow: 0px 0px 20px 0px black !important;
    
}
#moviePoster {
    padding-bottom: 1em;
}
.btnHome {
    padding-bottom: 1em;
}
.tableHead {
    color: black;
}

.tableBody {
    background-color: #222222;
    color: white;
}

.tableBody tr:hover {
	background-color: #fa4144; 
}

.buttonLink {
    text-decoration: none;
}